@import "../dist/webkit-sass-generator";
//test color-map
$color-map: (
  0:#000,
  3:#333,
  6:#666,
  9:#999,
  f:#fff
);
$width-list:(1,2,3,4,5,6,7,8,9);
$margin-list:(1,2,3,4,5,6,7,8,9);
$padding-list:(1,2,3,4,5,6,7,8,90,100);

//Generate a list:
$data-src:generator-list(1,20);
$border-radius-list:generator-list(1,5);
$font-list:(10,20,30);
$line-clamp:(1,2,3,4,5);
$dot-list:(2,4,6,8,12,18,20);

@include generator-color($color-map,'.c__');
@include generator-background-color($color-map,'.bg__');
@include generator-border-color($color-map,'.bdc__');

//Generate width/blank/font-size/border-radius:
@include generator-width-w1($data-src,'.w1__');
@include generator-width-wp($width-list,'.wp__');
@include generator-blank($width-list,'.blk__');
@include generator-font-size($font-list,'.f__');
@include generator-border-radius($border-radius-list,'.bdr__');

//Generate margin:
@include generator-margin($margin-list,'m','_');
@include generator-margin($margin-list,'mt','_');
@include generator-margin($margin-list,'mr','_');
@include generator-margin($margin-list,'ml','_');
@include generator-margin($margin-list,'mb','_');
@include generator-margin($margin-list,'mx','_');
@include generator-margin($margin-list,'my','_');

//Generate padding:
@include generator-padding($padding-list,'p','__');
@include generator-padding($padding-list,'pt','__');
@include generator-padding($padding-list,'pr','__');
@include generator-padding($padding-list,'pl','__');
@include generator-padding($padding-list,'pb','__');
@include generator-padding($padding-list,'px','__');
@include generator-padding($padding-list,'py','__');

//Generate your own grid:
@include generator-grid(12,'.wk-row','.wk-col-');
@include generator-line($width-list,#f3f3f3,'.dc-line-');
@include generator-line-clamp($line-clamp,'.line-clamp-');
@include generator-dot($dot-list,#f00);
