/*color Start*/
/*color End*/
/*blank Start*/
.blank {
  display: block;
  font-size: 0;
  overflow: hidden;
  clear: both;
}

/*blank End*/
/*background-color Start*/
/*background-color End*/
/*border-radius Start*/
/*border-radius End*/
/*color Start*/
/*color End*/
/*data Start*/
/*data End*/
/*font-size Start*/
/*font-size End*/
/*grid Start*/
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
  display: inline-block;
  font-size: 16px;
}

/*grid End*/
/*margin Start*/
/*margin End*/
/*padding Start*/
/*padding End*/
/*width Start*/
/*width End*/
.row {
  font-size: 0;
}

.col-1 {
  padding-left: 1em;
  padding-right: 1em;
  width: 8.33333%;
  vertical-align: top;
}

.offset-11 {
  margin-left: 91.66667%;
}

.col-2 {
  padding-left: 1em;
  padding-right: 1em;
  width: 16.66667%;
  vertical-align: top;
}

.offset-10 {
  margin-left: 83.33333%;
}

.col-3 {
  padding-left: 1em;
  padding-right: 1em;
  width: 25%;
  vertical-align: top;
}

.offset-9 {
  margin-left: 75%;
}

.col-4 {
  padding-left: 1em;
  padding-right: 1em;
  width: 33.33333%;
  vertical-align: top;
}

.offset-8 {
  margin-left: 66.66667%;
}

.col-5 {
  padding-left: 1em;
  padding-right: 1em;
  width: 41.66667%;
  vertical-align: top;
}

.offset-7 {
  margin-left: 58.33333%;
}

.col-6 {
  padding-left: 1em;
  padding-right: 1em;
  width: 50%;
  vertical-align: top;
}

.offset-6 {
  margin-left: 50%;
}

.col-7 {
  padding-left: 1em;
  padding-right: 1em;
  width: 58.33333%;
  vertical-align: top;
}

.offset-5 {
  margin-left: 41.66667%;
}

.col-8 {
  padding-left: 1em;
  padding-right: 1em;
  width: 66.66667%;
  vertical-align: top;
}

.offset-4 {
  margin-left: 33.33333%;
}

.col-9 {
  padding-left: 1em;
  padding-right: 1em;
  width: 75%;
  vertical-align: top;
}

.offset-3 {
  margin-left: 25%;
}

.col-10 {
  padding-left: 1em;
  padding-right: 1em;
  width: 83.33333%;
  vertical-align: top;
}

.offset-2 {
  margin-left: 16.66667%;
}

.col-11 {
  padding-left: 1em;
  padding-right: 1em;
  width: 91.66667%;
  vertical-align: top;
}

.offset-1 {
  margin-left: 8.33333%;
}

.col-12 {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  vertical-align: top;
}

.offset-0 {
  margin-left: 0%;
}
