/*background-color Start*/
@mixin generator-background-color($map) {
  $p1: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );
  $p2: map-get(
    $map: $wsui-generators-options,
    $key: background-color,
  );

  $prefix: "." + $p1 + $p2;

  @each $key, $color in $map {
    #{$prefix}#{$key} {
      background-color: #{$color};
    }
  }
}
/*background-color End*/
