/*background-color Start*/
@mixin generator-background-color($map) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );
  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: background-color,
  );

  $prefix: "." + $global-prefix + $module-prefix;

  @each $key, $color in $map {
    #{$prefix}#{$key} {
      background-color: #{$color};
    }
  }
}
/*background-color End*/
