/* blank Start*/
@mixin generator-blank($list, $rem: px) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: blank,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  #{$prefix} {
    @each $i in $list {
      &#{$i} {
        height: rem($i, $rem);
        @extend %blank;
      }
    }
  }
}
/* blank End*/
