/*border-color Start*/
@mixin generator-border-color($map) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: border-color,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  @each $key, $color in $map {
    #{$prefix}#{$key} {
      border-color: #{$color};
    }
  }
}
/*border-color End*/
