/* border-radius Start */
// NORMAL
@mixin generator-border-radius($list, $rem: px) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: border-radius,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  #{$prefix} {
    @each $i in $list {
      &#{$i} {
        border-radius: rem($i, $rem);
      }
    }
  }
}
/* border-radius End */
