/* color Start */
@mixin generator-color($map) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: color,
  );

  $prefix: "." + $global-prefix + $module-prefix;

  @each $name, $color in $map {
    #{$prefix}#{$name} {
      color: #{$color};
    }
  }
}
/* color End */
