/* font-family Start */
// fontfamily
@mixin generator-font-family($ff-map) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: font-family
  );
  $prefix: '.' + $global-prefix + $module-prefix;

  @each $key, $value in $ff-map {
    #{$prefix}#{$key} {
      font-family: $value;
    }
  }
}

/* font-family Start */
