/* font-family Start */
// fontfamily
@mixin generator-font-family($list) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: font-family,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  @each $value in $list {
    #{$prefix}#{$value} {
      font-family: $value;
    }
  }
}

/* font-family Start */
