/* font-weight Start */
// fontWeight
@mixin generator-font-weight($list) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: font-weight,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  @each $value in $list {
    #{$prefix}#{$value} {
      font-weight: $value;
    }
  }
}

/* font-weight Start */
