/*font-size Start*/

// NORMAL
@mixin generator-font-size($inList, $rem: px) {
  $p1: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $p2: map-get(
    $map: $wsui-generators-options,
    $key: font-size,
  );
  $prefix: "." + $p1 + $p2;

  #{$prefix} {
    @each $i in $inList {
      &#{$i} {
        font-size: rem($i, $rem);
      }
    }
  }
}
/*font-size End*/
