/* font-size Start */

// NORMAL
@mixin generator-font-size($inList, $rem: px) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: font-size,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  #{$prefix} {
    @each $i in $inList {
      &#{$i} {
        font-size: rem($i, $rem);
      }
    }
  }
}
/* font-size End */
