/* icon Start */
@mixin generator-icon($list) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: icon
  );
  $prefix: '.' + $global-prefix + $module-prefix;

  #{$prefix} {
    @each $i in $list {
      &#{$i} {
        @extend %icon;
        font-size: #{$i}px;
      }
    }
  }
}
/* icon End */
