/*line-clamp Start*/
%line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@mixin line-clamp($line) {
  @extend %line-clamp;
  -webkit-line-clamp: $line;
}

@mixin generator-line-clamp($list) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: line-clamp,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  #{$prefix} {
    @each $i in $list {
      &#{$i} {
        -webkit-line-clamp: $i;
        @extend %line-clamp;
      }
    }
  }
}

/*line-clamp End*/
