/*line Start*/
@mixin generator-line($list, $color: #ccc, $rem: px) {
  $p1: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $p2: map-get(
    $map: $wsui-generators-options,
    $key: line,
  );
  $prefix: "." + $p1 + $p2;

  %line-color {
    background-color: $color;
  }

  #{$prefix} {
    @each $i in $list {
      &#{$i} {
        height: #{$i}px;
        @extend %space;
        @extend %line-color;
      }
    }
  }
}
/*line End*/
