/* line-height Start */
// NORMAL
@mixin generator-line-height($list, $rem: px) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: line-height,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  #{$prefix} {
    @each $i in $list {
      &#{$i} {
        line-height: rem($i, $rem);
      }
    }
  }
}

@mixin generator-hlh($list, $rem: px) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: height-line-height,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  #{$prefix} {
    @each $i in $list {
      &#{$i} {
        height: rem($i, $rem);
        line-height: rem($i, $rem);
      }
    }
  }
}
/* line-height End */
