/*space Start*/
@mixin generator-space($list, $rem: px) {
  $p1: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $p2: map-get(
    $map: $wsui-generators-options,
    $key: space,
  );
  $prefix: "." + $p1 + $p2;

  #{$prefix} {
    @each $i in $list {
      &#{$i} {
        height: rem($i, $rem);
        @extend %space;
      }
    }
  }
}
/*space End*/
