/* width Start */
@mixin generator-width-w1($list) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: width-w1,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  @each $value in $list {
    #{$prefix}#{$value} {
      width: percentage(math.div(1, $value));
      // width: percentage(1/$value);
    }
  }
}

@mixin generator-width-wp($list) {
  $global-prefix: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $module-prefix: map-get(
    $map: $wsui-generators-options,
    $key: width-wp,
  );
  $prefix: "." + $global-prefix + $module-prefix;

  @each $value in $list {
    #{$prefix}#{$value} {
      width: percentage(math.div($value, 10));
      // width: percentage($value/10);
    }
  }
}
/* width End */
