/*width Start*/
@mixin generator-width-w1($list) {
  $p1: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $p2: map-get(
    $map: $wsui-generators-options,
    $key: width-w1,
  );
  $prefix: "." + $p1 + $p2;

  @each $value in $list {
    #{$prefix}#{$value} {
      width: percentage(1 / $value);
    }
  }
}

@mixin generator-width-wp($list) {
  $p1: map-get(
    $map: $wsui-generators-options,
    $key: global,
  );

  $p2: map-get(
    $map: $wsui-generators-options,
    $key: width-wp,
  );
  $prefix: "." + $p1 + $p2;

  @each $value in $list {
    #{$prefix}#{$value} {
      width: percentage($value/10);
    }
  }
}
/*width End*/
