$wsui-generators-options: (
  global: "",
  background-color: "bg-",
  border-color: "bcd-",
  border-radius: "bdr-",
  box: "-",
  color: "c-",
  font-size: "f-",
  font-weight: "fw-",
  line-clamp: "lc-",
  line-height: "lh-",
  height-line-height: "hlh-",
  line: "line-",
  space: "sp-",
  width-w1: "w1-",
  width-wp: "wp-",
) !default;

%space {
  display: block;
  font-size: 0;
  overflow: hidden;
  clear: both;
}
