/*!
 * name: @jswork/wsui-functions
 * description: Webkit sass functions.
 * homepage: https://github.com/afeiship/wsui-functions
 * version: 1.0.4
 * date: 2020-12-23 10:05:24
 * license: MIT
 */
/*last Start*/
/*last End*/
/*dynamic-text-color Start*/
/*dynamic-text-color End*/
/*range Start*/
/*range End*/
/*rempx Start*/
/*rem End*/
/*remove-duplicates Start*/
/*remove-duplicates End*/
/*strip-units Start*/
/*strip-units End*/
/*map-deep-get Start*/
/*map-deep-get End*/
/*!
 * name: @jswork/wsui-generators
 * description: Webkit sass generator mixins.
 * homepage: https://github.com/afeiship/wsui-generators
 * version: 1.0.0
 * date: 2021-01-10 13:35:26
 * license: MIT
 */
.sp-1, .sp-2, .sp-3, .sp-4, .sp-5, .sp-6, .sp-7, .sp-8, .sp-9, .sp-10, .line-1, .line-2, .line-3, .line-4, .line-5, .line-6, .line-7, .line-8, .line-9, .line-10 {
  display: block;
  font-size: 0;
  overflow: hidden;
  clear: both;
}

/*background-color Start*/
/*background-color End*/
/*border-color Start*/
/*border-color End*/
/*border-radius Start*/
/*border-radius End*/
/*box Start*/
/*box End*/
/*color Start*/
/*color End*/
/*font-size Start*/
/*font-size End*/
/*line-clamp Start*/
.lc-1, .lc-2, .lc-3, .lc-4, .lc-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/*line-clamp End*/
/*line-height Start*/
/*line-height End*/
/*line Start*/
/*line End*/
/*space Start*/
/*space End*/
/*width Start*/
/*width End*/
.c-0 {
  color: #000;
}

.c-3 {
  color: #333;
}

.c-6 {
  color: #666;
}

.c-9 {
  color: #999;
}

.c-f {
  color: #fff;
}

.bg-0 {
  background-color: #000;
}

.bg-3 {
  background-color: #333;
}

.bg-6 {
  background-color: #666;
}

.bg-9 {
  background-color: #999;
}

.bg-f {
  background-color: #fff;
}

.bcd-0 {
  border-color: #000;
}

.bcd-3 {
  border-color: #333;
}

.bcd-6 {
  border-color: #666;
}

.bcd-9 {
  border-color: #999;
}

.bcd-f {
  border-color: #fff;
}

.w1-1 {
  width: 100%;
}

.w1-2 {
  width: 50%;
}

.w1-3 {
  width: 33.33333%;
}

.w1-4 {
  width: 25%;
}

.w1-5 {
  width: 20%;
}

.w1-6 {
  width: 16.66667%;
}

.w1-7 {
  width: 14.28571%;
}

.w1-8 {
  width: 12.5%;
}

.w1-9 {
  width: 11.11111%;
}

.w1-10 {
  width: 10%;
}

.w1-11 {
  width: 9.09091%;
}

.w1-12 {
  width: 8.33333%;
}

.w1-13 {
  width: 7.69231%;
}

.w1-14 {
  width: 7.14286%;
}

.w1-15 {
  width: 6.66667%;
}

.w1-16 {
  width: 6.25%;
}

.w1-17 {
  width: 5.88235%;
}

.w1-18 {
  width: 5.55556%;
}

.w1-19 {
  width: 5.26316%;
}

.w1-20 {
  width: 5%;
}

.wp-1 {
  width: 10%;
}

.wp-2 {
  width: 20%;
}

.wp-3 {
  width: 30%;
}

.wp-4 {
  width: 40%;
}

.wp-5 {
  width: 50%;
}

.wp-6 {
  width: 60%;
}

.wp-7 {
  width: 70%;
}

.wp-8 {
  width: 80%;
}

.wp-9 {
  width: 90%;
}

.wp-10 {
  width: 100%;
}

.sp-1 {
  height: 1px;
}

.sp-2 {
  height: 2px;
}

.sp-3 {
  height: 3px;
}

.sp-4 {
  height: 4px;
}

.sp-5 {
  height: 5px;
}

.sp-6 {
  height: 6px;
}

.sp-7 {
  height: 7px;
}

.sp-8 {
  height: 8px;
}

.sp-9 {
  height: 9px;
}

.sp-10 {
  height: 10px;
}

.f-10 {
  font-size: 10px;
}

.f-20 {
  font-size: 20px;
}

.f-30 {
  font-size: 30px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.bdr-1 {
  border-radius: 1px;
}

.bdr-2 {
  border-radius: 2px;
}

.bdr-3 {
  border-radius: 3px;
}

.bdr-4 {
  border-radius: 4px;
}

.bdr-5 {
  border-radius: 5px;
}

.m-1,
.m-1_ > * {
  margin: 1px;
}

.m-2,
.m-2_ > * {
  margin: 2px;
}

.m-3,
.m-3_ > * {
  margin: 3px;
}

.m-4,
.m-4_ > * {
  margin: 4px;
}

.m-5,
.m-5_ > * {
  margin: 5px;
}

.m-6,
.m-6_ > * {
  margin: 6px;
}

.m-7,
.m-7_ > * {
  margin: 7px;
}

.m-8,
.m-8_ > * {
  margin: 8px;
}

.m-9,
.m-9_ > * {
  margin: 9px;
}

.mt-1,
.mt-1_ > * {
  margin-top: 1px;
}

.mt-2,
.mt-2_ > * {
  margin-top: 2px;
}

.mt-3,
.mt-3_ > * {
  margin-top: 3px;
}

.mt-4,
.mt-4_ > * {
  margin-top: 4px;
}

.mt-5,
.mt-5_ > * {
  margin-top: 5px;
}

.mt-6,
.mt-6_ > * {
  margin-top: 6px;
}

.mt-7,
.mt-7_ > * {
  margin-top: 7px;
}

.mt-8,
.mt-8_ > * {
  margin-top: 8px;
}

.mt-9,
.mt-9_ > * {
  margin-top: 9px;
}

.mr-1,
.mr-1_ > * {
  margin-right: 1px;
}

.mr-2,
.mr-2_ > * {
  margin-right: 2px;
}

.mr-3,
.mr-3_ > * {
  margin-right: 3px;
}

.mr-4,
.mr-4_ > * {
  margin-right: 4px;
}

.mr-5,
.mr-5_ > * {
  margin-right: 5px;
}

.mr-6,
.mr-6_ > * {
  margin-right: 6px;
}

.mr-7,
.mr-7_ > * {
  margin-right: 7px;
}

.mr-8,
.mr-8_ > * {
  margin-right: 8px;
}

.mr-9,
.mr-9_ > * {
  margin-right: 9px;
}

.ml-1,
.ml-1_ > * {
  margin-left: 1px;
}

.ml-2,
.ml-2_ > * {
  margin-left: 2px;
}

.ml-3,
.ml-3_ > * {
  margin-left: 3px;
}

.ml-4,
.ml-4_ > * {
  margin-left: 4px;
}

.ml-5,
.ml-5_ > * {
  margin-left: 5px;
}

.ml-6,
.ml-6_ > * {
  margin-left: 6px;
}

.ml-7,
.ml-7_ > * {
  margin-left: 7px;
}

.ml-8,
.ml-8_ > * {
  margin-left: 8px;
}

.ml-9,
.ml-9_ > * {
  margin-left: 9px;
}

.mb-1,
.mb-1_ > * {
  margin-bottom: 1px;
}

.mb-2,
.mb-2_ > * {
  margin-bottom: 2px;
}

.mb-3,
.mb-3_ > * {
  margin-bottom: 3px;
}

.mb-4,
.mb-4_ > * {
  margin-bottom: 4px;
}

.mb-5,
.mb-5_ > * {
  margin-bottom: 5px;
}

.mb-6,
.mb-6_ > * {
  margin-bottom: 6px;
}

.mb-7,
.mb-7_ > * {
  margin-bottom: 7px;
}

.mb-8,
.mb-8_ > * {
  margin-bottom: 8px;
}

.mb-9,
.mb-9_ > * {
  margin-bottom: 9px;
}

.mx-1,
.mx-1_ > * {
  margin-left: 1px;
  margin-right: 1px;
}

.mx-2,
.mx-2_ > * {
  margin-left: 2px;
  margin-right: 2px;
}

.mx-3,
.mx-3_ > * {
  margin-left: 3px;
  margin-right: 3px;
}

.mx-4,
.mx-4_ > * {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-5,
.mx-5_ > * {
  margin-left: 5px;
  margin-right: 5px;
}

.mx-6,
.mx-6_ > * {
  margin-left: 6px;
  margin-right: 6px;
}

.mx-7,
.mx-7_ > * {
  margin-left: 7px;
  margin-right: 7px;
}

.mx-8,
.mx-8_ > * {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-9,
.mx-9_ > * {
  margin-left: 9px;
  margin-right: 9px;
}

.my-1,
.my-1_ > * {
  margin-top: 1px;
  margin-bottom: 1px;
}

.my-2,
.my-2_ > * {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-3,
.my-3_ > * {
  margin-top: 3px;
  margin-bottom: 3px;
}

.my-4,
.my-4_ > * {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-5,
.my-5_ > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-6,
.my-6_ > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

.my-7,
.my-7_ > * {
  margin-top: 7px;
  margin-bottom: 7px;
}

.my-8,
.my-8_ > * {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-9,
.my-9_ > * {
  margin-top: 9px;
  margin-bottom: 9px;
}

.p-1,
.p-1_ > * {
  padding: 0.02rem;
}

.p-2,
.p-2_ > * {
  padding: 0.04rem;
}

.p-3,
.p-3_ > * {
  padding: 0.06rem;
}

.p-4,
.p-4_ > * {
  padding: 0.08rem;
}

.p-5,
.p-5_ > * {
  padding: 0.1rem;
}

.p-6,
.p-6_ > * {
  padding: 0.12rem;
}

.p-7,
.p-7_ > * {
  padding: 0.14rem;
}

.p-8,
.p-8_ > * {
  padding: 0.16rem;
}

.p-9,
.p-9_ > * {
  padding: 0.18rem;
}

.pt-1,
.pt-1_ > * {
  padding-top: 0.02rem;
}

.pt-2,
.pt-2_ > * {
  padding-top: 0.04rem;
}

.pt-3,
.pt-3_ > * {
  padding-top: 0.06rem;
}

.pt-4,
.pt-4_ > * {
  padding-top: 0.08rem;
}

.pt-5,
.pt-5_ > * {
  padding-top: 0.1rem;
}

.pt-6,
.pt-6_ > * {
  padding-top: 0.12rem;
}

.pt-7,
.pt-7_ > * {
  padding-top: 0.14rem;
}

.pt-8,
.pt-8_ > * {
  padding-top: 0.16rem;
}

.pt-9,
.pt-9_ > * {
  padding-top: 0.18rem;
}

.pr-1,
.pr-1_ > * {
  padding-right: 0.02rem;
}

.pr-2,
.pr-2_ > * {
  padding-right: 0.04rem;
}

.pr-3,
.pr-3_ > * {
  padding-right: 0.06rem;
}

.pr-4,
.pr-4_ > * {
  padding-right: 0.08rem;
}

.pr-5,
.pr-5_ > * {
  padding-right: 0.1rem;
}

.pr-6,
.pr-6_ > * {
  padding-right: 0.12rem;
}

.pr-7,
.pr-7_ > * {
  padding-right: 0.14rem;
}

.pr-8,
.pr-8_ > * {
  padding-right: 0.16rem;
}

.pr-9,
.pr-9_ > * {
  padding-right: 0.18rem;
}

.pl-1,
.pl-1_ > * {
  padding-left: 0.02rem;
}

.pl-2,
.pl-2_ > * {
  padding-left: 0.04rem;
}

.pl-3,
.pl-3_ > * {
  padding-left: 0.06rem;
}

.pl-4,
.pl-4_ > * {
  padding-left: 0.08rem;
}

.pl-5,
.pl-5_ > * {
  padding-left: 0.1rem;
}

.pl-6,
.pl-6_ > * {
  padding-left: 0.12rem;
}

.pl-7,
.pl-7_ > * {
  padding-left: 0.14rem;
}

.pl-8,
.pl-8_ > * {
  padding-left: 0.16rem;
}

.pl-9,
.pl-9_ > * {
  padding-left: 0.18rem;
}

.pb-1,
.pb-1_ > * {
  padding-bottom: 0.02rem;
}

.pb-2,
.pb-2_ > * {
  padding-bottom: 0.04rem;
}

.pb-3,
.pb-3_ > * {
  padding-bottom: 0.06rem;
}

.pb-4,
.pb-4_ > * {
  padding-bottom: 0.08rem;
}

.pb-5,
.pb-5_ > * {
  padding-bottom: 0.1rem;
}

.pb-6,
.pb-6_ > * {
  padding-bottom: 0.12rem;
}

.pb-7,
.pb-7_ > * {
  padding-bottom: 0.14rem;
}

.pb-8,
.pb-8_ > * {
  padding-bottom: 0.16rem;
}

.pb-9,
.pb-9_ > * {
  padding-bottom: 0.18rem;
}

.px-1,
.px-1_ > * {
  padding-left: 0.02rem;
  padding-right: 0.02rem;
}

.px-2,
.px-2_ > * {
  padding-left: 0.04rem;
  padding-right: 0.04rem;
}

.px-3,
.px-3_ > * {
  padding-left: 0.06rem;
  padding-right: 0.06rem;
}

.px-4,
.px-4_ > * {
  padding-left: 0.08rem;
  padding-right: 0.08rem;
}

.px-5,
.px-5_ > * {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.px-6,
.px-6_ > * {
  padding-left: 0.12rem;
  padding-right: 0.12rem;
}

.px-7,
.px-7_ > * {
  padding-left: 0.14rem;
  padding-right: 0.14rem;
}

.px-8,
.px-8_ > * {
  padding-left: 0.16rem;
  padding-right: 0.16rem;
}

.px-9,
.px-9_ > * {
  padding-left: 0.18rem;
  padding-right: 0.18rem;
}

.py-1,
.py-1_ > * {
  padding-top: 0.02rem;
  padding-bottom: 0.02rem;
}

.py-2,
.py-2_ > * {
  padding-top: 0.04rem;
  padding-bottom: 0.04rem;
}

.py-3,
.py-3_ > * {
  padding-top: 0.06rem;
  padding-bottom: 0.06rem;
}

.py-4,
.py-4_ > * {
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
}

.py-5,
.py-5_ > * {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.py-6,
.py-6_ > * {
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
}

.py-7,
.py-7_ > * {
  padding-top: 0.14rem;
  padding-bottom: 0.14rem;
}

.py-8,
.py-8_ > * {
  padding-top: 0.16rem;
  padding-bottom: 0.16rem;
}

.py-9,
.py-9_ > * {
  padding-top: 0.18rem;
  padding-bottom: 0.18rem;
}

.line-1, .line-2, .line-3, .line-4, .line-5, .line-6, .line-7, .line-8, .line-9, .line-10 {
  background-color: #f3f3f3;
}

.line-1 {
  height: 1px;
}

.line-2 {
  height: 2px;
}

.line-3 {
  height: 3px;
}

.line-4 {
  height: 4px;
}

.line-5 {
  height: 5px;
}

.line-6 {
  height: 6px;
}

.line-7 {
  height: 7px;
}

.line-8 {
  height: 8px;
}

.line-9 {
  height: 9px;
}

.line-10 {
  height: 10px;
}

.lc-1 {
  -webkit-line-clamp: 1;
}

.lc-2 {
  -webkit-line-clamp: 2;
}

.lc-3 {
  -webkit-line-clamp: 3;
}

.lc-4 {
  -webkit-line-clamp: 4;
}

.lc-5 {
  -webkit-line-clamp: 5;
}
