/* init start*/
/*black Start*/
/*black End*/
/*debug Start*/
/*debug End*/
/*dynamic-text-color Start*/
/*dynamic-text-color End*/
/*first Start*/
/*first End*/
/*generate-list Start*/
/*generate-list End*/
/*last Start*/
/*last End*/
/*map-deep-get Start*/
/*map-deep-get End*/
/*purge Start*/
/*purge End*/
/*rem Start*/
/*rem End*/
/*remove-duplicates Start*/
/*remove-duplicates End*/
/*rpx Start*/
/*rpx End*/
/*strip-units Start*/
/*strip-units End*/
/* init end*/
/*background-color Start*/
/*background-color End*/
/*blank Start*/
.blank, .blank-1, .blank-2, .blank-3, .blank-4, .blank-5, .blank-6, .blank-7, .blank-8, .blank-9, .blank-10, .line-1, .line-2, .line-3, .line-4, .line-5, .line-6, .line-7, .line-8, .line-9, .line-10 {
  display: block;
  font-size: 0;
  overflow: hidden;
  clear: both;
}

/*blank End*/
/*border-color Start*/
/*border-color End*/
/*border-radius Start*/
/*border-radius End*/
/*box Start*/
/*box End*/
/*color Start*/
/*color End*/
/*font-size Start*/
/*font-size End*/
/*grid Start*/
.dib-col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
  display: inline-block;
  font-size: 16px;
}

/*grid End*/
/*line Start*/
/*line End*/
/*line-clamp Start*/
.lc-1, .lc-2, .lc-3, .lc-4, .lc-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/*line-clamp End*/
/*line-height Start*/
/*line-height End*/
/*width Start*/
/*width End*/
.c-0 {
  color: #000;
}

.c-3 {
  color: #333;
}

.c-6 {
  color: #666;
}

.c-9 {
  color: #999;
}

.c-f {
  color: #fff;
}

.bg-0 {
  background-color: #000;
}

.bg-3 {
  background-color: #333;
}

.bg-6 {
  background-color: #666;
}

.bg-9 {
  background-color: #999;
}

.bg-f {
  background-color: #fff;
}

.bdc-0 {
  border-color: #000;
}

.bdc-3 {
  border-color: #333;
}

.bdc-6 {
  border-color: #666;
}

.bdc-9 {
  border-color: #999;
}

.bdc-f {
  border-color: #fff;
}

.w1-1 {
  width: 100%;
}

.w1-2 {
  width: 50%;
}

.w1-3 {
  width: 33.33333%;
}

.w1-4 {
  width: 25%;
}

.w1-5 {
  width: 20%;
}

.w1-6 {
  width: 16.66667%;
}

.w1-7 {
  width: 14.28571%;
}

.w1-8 {
  width: 12.5%;
}

.w1-9 {
  width: 11.11111%;
}

.w1-10 {
  width: 10%;
}

.w1-11 {
  width: 9.09091%;
}

.w1-12 {
  width: 8.33333%;
}

.w1-13 {
  width: 7.69231%;
}

.w1-14 {
  width: 7.14286%;
}

.w1-15 {
  width: 6.66667%;
}

.w1-16 {
  width: 6.25%;
}

.w1-17 {
  width: 5.88235%;
}

.w1-18 {
  width: 5.55556%;
}

.w1-19 {
  width: 5.26316%;
}

.w1-20 {
  width: 5%;
}

.wp-1 {
  width: 10%;
}

.wp-2 {
  width: 20%;
}

.wp-3 {
  width: 30%;
}

.wp-4 {
  width: 40%;
}

.wp-5 {
  width: 50%;
}

.wp-6 {
  width: 60%;
}

.wp-7 {
  width: 70%;
}

.wp-8 {
  width: 80%;
}

.wp-9 {
  width: 90%;
}

.wp-10 {
  width: 100%;
}

.blank-1 {
  height: 1px;
}

.blank-2 {
  height: 2px;
}

.blank-3 {
  height: 3px;
}

.blank-4 {
  height: 4px;
}

.blank-5 {
  height: 5px;
}

.blank-6 {
  height: 6px;
}

.blank-7 {
  height: 7px;
}

.blank-8 {
  height: 8px;
}

.blank-9 {
  height: 9px;
}

.blank-10 {
  height: 10px;
}

.f-10 {
  font-size: 10px;
}

.f-20 {
  font-size: 20px;
}

.f-30 {
  font-size: 30px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.bdr-1 {
  border-radius: 1px;
}

.bdr-2 {
  border-radius: 2px;
}

.bdr-3 {
  border-radius: 3px;
}

.bdr-4 {
  border-radius: 4px;
}

.bdr-5 {
  border-radius: 5px;
}

.m1,
.m1_ > * {
  margin: 1px;
}

.m2,
.m2_ > * {
  margin: 2px;
}

.m3,
.m3_ > * {
  margin: 3px;
}

.m4,
.m4_ > * {
  margin: 4px;
}

.m5,
.m5_ > * {
  margin: 5px;
}

.m6,
.m6_ > * {
  margin: 6px;
}

.m7,
.m7_ > * {
  margin: 7px;
}

.m8,
.m8_ > * {
  margin: 8px;
}

.m9,
.m9_ > * {
  margin: 9px;
}

.mt1,
.mt1_ > * {
  margin-top: 1px;
}

.mt2,
.mt2_ > * {
  margin-top: 2px;
}

.mt3,
.mt3_ > * {
  margin-top: 3px;
}

.mt4,
.mt4_ > * {
  margin-top: 4px;
}

.mt5,
.mt5_ > * {
  margin-top: 5px;
}

.mt6,
.mt6_ > * {
  margin-top: 6px;
}

.mt7,
.mt7_ > * {
  margin-top: 7px;
}

.mt8,
.mt8_ > * {
  margin-top: 8px;
}

.mt9,
.mt9_ > * {
  margin-top: 9px;
}

.mr1,
.mr1_ > * {
  margin-right: 1px;
}

.mr2,
.mr2_ > * {
  margin-right: 2px;
}

.mr3,
.mr3_ > * {
  margin-right: 3px;
}

.mr4,
.mr4_ > * {
  margin-right: 4px;
}

.mr5,
.mr5_ > * {
  margin-right: 5px;
}

.mr6,
.mr6_ > * {
  margin-right: 6px;
}

.mr7,
.mr7_ > * {
  margin-right: 7px;
}

.mr8,
.mr8_ > * {
  margin-right: 8px;
}

.mr9,
.mr9_ > * {
  margin-right: 9px;
}

.ml1,
.ml1_ > * {
  margin-left: 1px;
}

.ml2,
.ml2_ > * {
  margin-left: 2px;
}

.ml3,
.ml3_ > * {
  margin-left: 3px;
}

.ml4,
.ml4_ > * {
  margin-left: 4px;
}

.ml5,
.ml5_ > * {
  margin-left: 5px;
}

.ml6,
.ml6_ > * {
  margin-left: 6px;
}

.ml7,
.ml7_ > * {
  margin-left: 7px;
}

.ml8,
.ml8_ > * {
  margin-left: 8px;
}

.ml9,
.ml9_ > * {
  margin-left: 9px;
}

.mb1,
.mb1_ > * {
  margin-bottom: 1px;
}

.mb2,
.mb2_ > * {
  margin-bottom: 2px;
}

.mb3,
.mb3_ > * {
  margin-bottom: 3px;
}

.mb4,
.mb4_ > * {
  margin-bottom: 4px;
}

.mb5,
.mb5_ > * {
  margin-bottom: 5px;
}

.mb6,
.mb6_ > * {
  margin-bottom: 6px;
}

.mb7,
.mb7_ > * {
  margin-bottom: 7px;
}

.mb8,
.mb8_ > * {
  margin-bottom: 8px;
}

.mb9,
.mb9_ > * {
  margin-bottom: 9px;
}

.mx1,
.mx1_ > * {
  margin-left: 1px;
  margin-right: 1px;
}

.mx2,
.mx2_ > * {
  margin-left: 2px;
  margin-right: 2px;
}

.mx3,
.mx3_ > * {
  margin-left: 3px;
  margin-right: 3px;
}

.mx4,
.mx4_ > * {
  margin-left: 4px;
  margin-right: 4px;
}

.mx5,
.mx5_ > * {
  margin-left: 5px;
  margin-right: 5px;
}

.mx6,
.mx6_ > * {
  margin-left: 6px;
  margin-right: 6px;
}

.mx7,
.mx7_ > * {
  margin-left: 7px;
  margin-right: 7px;
}

.mx8,
.mx8_ > * {
  margin-left: 8px;
  margin-right: 8px;
}

.mx9,
.mx9_ > * {
  margin-left: 9px;
  margin-right: 9px;
}

.my1,
.my1_ > * {
  margin-top: 1px;
  margin-bottom: 1px;
}

.my2,
.my2_ > * {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my3,
.my3_ > * {
  margin-top: 3px;
  margin-bottom: 3px;
}

.my4,
.my4_ > * {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my5,
.my5_ > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my6,
.my6_ > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

.my7,
.my7_ > * {
  margin-top: 7px;
  margin-bottom: 7px;
}

.my8,
.my8_ > * {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my9,
.my9_ > * {
  margin-top: 9px;
  margin-bottom: 9px;
}

.p1,
.p1_ > * {
  padding: 0.02rem;
}

.p2,
.p2_ > * {
  padding: 0.04rem;
}

.p3,
.p3_ > * {
  padding: 0.06rem;
}

.p4,
.p4_ > * {
  padding: 0.08rem;
}

.p5,
.p5_ > * {
  padding: 0.1rem;
}

.p6,
.p6_ > * {
  padding: 0.12rem;
}

.p7,
.p7_ > * {
  padding: 0.14rem;
}

.p8,
.p8_ > * {
  padding: 0.16rem;
}

.p9,
.p9_ > * {
  padding: 0.18rem;
}

.pt1,
.pt1_ > * {
  padding-top: 0.02rem;
}

.pt2,
.pt2_ > * {
  padding-top: 0.04rem;
}

.pt3,
.pt3_ > * {
  padding-top: 0.06rem;
}

.pt4,
.pt4_ > * {
  padding-top: 0.08rem;
}

.pt5,
.pt5_ > * {
  padding-top: 0.1rem;
}

.pt6,
.pt6_ > * {
  padding-top: 0.12rem;
}

.pt7,
.pt7_ > * {
  padding-top: 0.14rem;
}

.pt8,
.pt8_ > * {
  padding-top: 0.16rem;
}

.pt9,
.pt9_ > * {
  padding-top: 0.18rem;
}

.pr1,
.pr1_ > * {
  padding-right: 0.02rem;
}

.pr2,
.pr2_ > * {
  padding-right: 0.04rem;
}

.pr3,
.pr3_ > * {
  padding-right: 0.06rem;
}

.pr4,
.pr4_ > * {
  padding-right: 0.08rem;
}

.pr5,
.pr5_ > * {
  padding-right: 0.1rem;
}

.pr6,
.pr6_ > * {
  padding-right: 0.12rem;
}

.pr7,
.pr7_ > * {
  padding-right: 0.14rem;
}

.pr8,
.pr8_ > * {
  padding-right: 0.16rem;
}

.pr9,
.pr9_ > * {
  padding-right: 0.18rem;
}

.pl1,
.pl1_ > * {
  padding-left: 0.02rem;
}

.pl2,
.pl2_ > * {
  padding-left: 0.04rem;
}

.pl3,
.pl3_ > * {
  padding-left: 0.06rem;
}

.pl4,
.pl4_ > * {
  padding-left: 0.08rem;
}

.pl5,
.pl5_ > * {
  padding-left: 0.1rem;
}

.pl6,
.pl6_ > * {
  padding-left: 0.12rem;
}

.pl7,
.pl7_ > * {
  padding-left: 0.14rem;
}

.pl8,
.pl8_ > * {
  padding-left: 0.16rem;
}

.pl9,
.pl9_ > * {
  padding-left: 0.18rem;
}

.pb1,
.pb1_ > * {
  padding-bottom: 0.02rem;
}

.pb2,
.pb2_ > * {
  padding-bottom: 0.04rem;
}

.pb3,
.pb3_ > * {
  padding-bottom: 0.06rem;
}

.pb4,
.pb4_ > * {
  padding-bottom: 0.08rem;
}

.pb5,
.pb5_ > * {
  padding-bottom: 0.1rem;
}

.pb6,
.pb6_ > * {
  padding-bottom: 0.12rem;
}

.pb7,
.pb7_ > * {
  padding-bottom: 0.14rem;
}

.pb8,
.pb8_ > * {
  padding-bottom: 0.16rem;
}

.pb9,
.pb9_ > * {
  padding-bottom: 0.18rem;
}

.px1,
.px1_ > * {
  padding-left: 0.02rem;
  padding-right: 0.02rem;
}

.px2,
.px2_ > * {
  padding-left: 0.04rem;
  padding-right: 0.04rem;
}

.px3,
.px3_ > * {
  padding-left: 0.06rem;
  padding-right: 0.06rem;
}

.px4,
.px4_ > * {
  padding-left: 0.08rem;
  padding-right: 0.08rem;
}

.px5,
.px5_ > * {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.px6,
.px6_ > * {
  padding-left: 0.12rem;
  padding-right: 0.12rem;
}

.px7,
.px7_ > * {
  padding-left: 0.14rem;
  padding-right: 0.14rem;
}

.px8,
.px8_ > * {
  padding-left: 0.16rem;
  padding-right: 0.16rem;
}

.px9,
.px9_ > * {
  padding-left: 0.18rem;
  padding-right: 0.18rem;
}

.py1,
.py1_ > * {
  padding-top: 0.02rem;
  padding-bottom: 0.02rem;
}

.py2,
.py2_ > * {
  padding-top: 0.04rem;
  padding-bottom: 0.04rem;
}

.py3,
.py3_ > * {
  padding-top: 0.06rem;
  padding-bottom: 0.06rem;
}

.py4,
.py4_ > * {
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
}

.py5,
.py5_ > * {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.py6,
.py6_ > * {
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
}

.py7,
.py7_ > * {
  padding-top: 0.14rem;
  padding-bottom: 0.14rem;
}

.py8,
.py8_ > * {
  padding-top: 0.16rem;
  padding-bottom: 0.16rem;
}

.py9,
.py9_ > * {
  padding-top: 0.18rem;
  padding-bottom: 0.18rem;
}

.row {
  font-size: 0;
}

.col-1 {
  padding-left: 1em;
  padding-right: 1em;
  width: 8.33333%;
  vertical-align: top;
}

.offset-11 {
  margin-left: 91.66667%;
}

.col-2 {
  padding-left: 1em;
  padding-right: 1em;
  width: 16.66667%;
  vertical-align: top;
}

.offset-10 {
  margin-left: 83.33333%;
}

.col-3 {
  padding-left: 1em;
  padding-right: 1em;
  width: 25%;
  vertical-align: top;
}

.offset-9 {
  margin-left: 75%;
}

.col-4 {
  padding-left: 1em;
  padding-right: 1em;
  width: 33.33333%;
  vertical-align: top;
}

.offset-8 {
  margin-left: 66.66667%;
}

.col-5 {
  padding-left: 1em;
  padding-right: 1em;
  width: 41.66667%;
  vertical-align: top;
}

.offset-7 {
  margin-left: 58.33333%;
}

.col-6 {
  padding-left: 1em;
  padding-right: 1em;
  width: 50%;
  vertical-align: top;
}

.offset-6 {
  margin-left: 50%;
}

.col-7 {
  padding-left: 1em;
  padding-right: 1em;
  width: 58.33333%;
  vertical-align: top;
}

.offset-5 {
  margin-left: 41.66667%;
}

.col-8 {
  padding-left: 1em;
  padding-right: 1em;
  width: 66.66667%;
  vertical-align: top;
}

.offset-4 {
  margin-left: 33.33333%;
}

.col-9 {
  padding-left: 1em;
  padding-right: 1em;
  width: 75%;
  vertical-align: top;
}

.offset-3 {
  margin-left: 25%;
}

.col-10 {
  padding-left: 1em;
  padding-right: 1em;
  width: 83.33333%;
  vertical-align: top;
}

.offset-2 {
  margin-left: 16.66667%;
}

.col-11 {
  padding-left: 1em;
  padding-right: 1em;
  width: 91.66667%;
  vertical-align: top;
}

.offset-1 {
  margin-left: 8.33333%;
}

.col-12 {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  vertical-align: top;
}

.offset-0 {
  margin-left: 0%;
}

.line-1 {
  height: 1px;
  background-color: #f3f3f3;
}

.line-2 {
  height: 2px;
  background-color: #f3f3f3;
}

.line-3 {
  height: 3px;
  background-color: #f3f3f3;
}

.line-4 {
  height: 4px;
  background-color: #f3f3f3;
}

.line-5 {
  height: 5px;
  background-color: #f3f3f3;
}

.line-6 {
  height: 6px;
  background-color: #f3f3f3;
}

.line-7 {
  height: 7px;
  background-color: #f3f3f3;
}

.line-8 {
  height: 8px;
  background-color: #f3f3f3;
}

.line-9 {
  height: 9px;
  background-color: #f3f3f3;
}

.line-10 {
  height: 10px;
  background-color: #f3f3f3;
}

.lc-1 {
  -webkit-line-clamp: 1;
}

.lc-2 {
  -webkit-line-clamp: 2;
}

.lc-3 {
  -webkit-line-clamp: 3;
}

.lc-4 {
  -webkit-line-clamp: 4;
}

.lc-5 {
  -webkit-line-clamp: 5;
}
