/*blank Start*/
.blank {
  display: block;
  font-size: 0;
  overflow: hidden;
  clear: both;
}


@mixin generator-blank($inList,$inPrefix:'.blank-'){
  #{$inPrefix} {
    @each $i in $inList{
      &#{$i}{
        height:#{$i}px;
        @extend .blank;
      }
    }
  }
}


@mixin generator-blank-rem($inList,$inPrefix:'.blank-rem-',$rem:50){
  #{$inPrefix} {
    @each $i in $inList{
      &#{$i}{
        height: to-rem-value($i,$rem);
        @extend .blank;
      }
    }
  }
}


/*blank End*/
