/*dot Start*/
@mixin generator-dot($inList,$inColor,$inRadius:100px,$inPrefix:'.dot-'){
  #{$inPrefix} {
    @each $i in $inList{
      &#{$i}{
        font-size: 1em;
        min-width:#{$i}px;
        height:#{$i}px;
        line-height: #{$i}px;
        text-align: center;
        color:#fff;
        display: inline-block;
        background-color:$inColor;
        border-radius:$inRadius;
      }
    }
  }
}
/*dot End*/
