/*line-height Start*/
@mixin generator-line-height($inList,$inPrefix:'.lh-',$rem:50) {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        line-height: to-rem-value($i,$rem);
      }
    }
  }
}

@mixin generator-hlh($inList,$inPrefix:'.hlh-',$rem:50) {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: to-rem-value($i,$rem);
        line-height: to-rem-value($i,$rem);
      }
    }
  }
}
/*line-height End*/
