/*line-height Start*/
@mixin generator-line-height($inList,$inPrefix:'.lh-') {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        line-height: #{$i}px;
      }
    }
  }
}

@mixin generator-hlh($inList,$inPrefix:'.hlh-') {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: #{$i}px;
        line-height: #{$i}px;
      }
    }
  }
}
/*line-height End*/
