/*blank Start*/
.blank {
  display: block;
  font-size: 0;
  overflow: hidden;
  clear: both;
}

// NORMAL
@mixin generator-blank($inList, $inPrefix: ".blank-") {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: #{$i}px;
        @extend .blank;
      }
    }
  }
}

// Weapp
@mixin generator-blank-rpx($inList, $inPrefix: ".blank-") {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: to-rpx-value($i);
        @extend .blank;
      }
    }
  }
}

// Mobile
@mixin generator-blank-rem($inList, $inPrefix: ".blank-rem-", $rem: 50) {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: to-rem-value($i, $rem);
        @extend .blank;
      }
    }
  }
}

/*blank End*/
