/*border-radius Start*/
// NORMAL
@mixin generator-border-radius($inList,$inPrefix:'.bdr-'){
  #{$inPrefix} {
    @each $i in $inList{
      &#{$i}{
        border-radius: #{$i}px;
      }
    }
  }
}

// Weapp
@mixin generator-border-radius-rpx($inList,$inPrefix:'.bdr-'){
  #{$inPrefix} {
    @each $i in $inList{
      &#{$i}{
        border-radius: to-rpx-value($i);
      }
    }
  }
}

// Mobile
@mixin generator-border-radius-rem($inList,$inPrefix:'.bdr-rem-', $rem: 50){
  #{$inPrefix} {
    @each $i in $inList{
      &#{$i}{
        border-radius: to-rem-value($i,$rem);
      }
    }
  }
}
/*border-radius End*/
