/*border-color Start*/
@mixin generator-border-color($inMap,$inPrefix:'.bdc-'){
  @each $name,$color in $inMap{
    #{$inPrefix}#{$name}{
      border-color:#{$color};
    }
  }
}
/*border-color End*/
