/*font-size Start*/

// NORMAL
@mixin generator-font-size($inList,$inPrefix:'.f-'){
  #{$inPrefix} {
    @each $i in $inList{
      &#{$i}{
        font-size:#{$i}px;
      }
    }
  }
}

// Weapp
@mixin generator-font-size-rpx($inList,$inPrefix:'.f-'){
  #{$inPrefix} {
    @each $i in $inList{
      &#{$i}{
        font-size:to-rpx-value($i);
      }
    }
  }
}

// Mobile
@mixin generator-font-size-rem($inList,$inPrefix:'.f-rem-',$rem:50) {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        font-size: to-rem-value($i, $rem);
      }
    }
  }
}
/*font-size End*/
