/*line Start*/
// NORMAL
@mixin generator-line($inList,$inColor:#ccc,$inPrefix:'.line-') {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: #{$i}px;
        background-color: $inColor;
        @extend .blank;
      }
    }
  }
}

// Weapp
@mixin generator-line-rpx($inList,$inColor:#ccc,$inPrefix:'.line-') {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: #{$i}rpx;
        background-color: $inColor;
        @extend .blank;
      }
    }
  }
}

// Mobile
@mixin generator-line-rem($inList,$inColor:#ccc,$inPrefix:'.line-rem-',$rem:50) {
  #{$inPrefix} {
    @each $i in $inList {
      &#{$i} {
        height: to-rem-value($i,$rem);
        background-color: $inColor;
        @extend .blank;
      }
    }
  }
}
/*line End*/
