/*padding Start*/
.pr__>*:last-child{
  padding-right: 0;
}
.pl__>*:first-child{
  padding-left: 0;
}
.pt__>*:first-child{
  padding-top: 0;
}
.pb__>*:last-child{
  padding-bottom: 0;
}
/*padding End*/
